.roster {
    margin-bottom: 2.5em;
}

.rosterTable {
    width: 85%;
    margin: 0 auto;
}

.tableHead {
    background-color: #111;
    color: #fff;
}

.tableHead th {
    font-weight: lighter;
    padding: 1em 0;
}

.playerNameCol {
    background-color: #e1e1e1;
    color: #111;
}

.playerLink {
    display: flex;
    color: #111;
    text-decoration: none;
    margin-left: 1.25em;
}

.playerSmallPhoto {
    align-self: center;
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    background-color: #fff;
}

.playerName {
    margin-left: 1em;
}