.NavbarComponent {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #222;
  color: white;
}

.homeLink {
  color: white;
  text-decoration: none;
  margin: 0 5em 0 2em;
  font-size: 1.5em;
}

.navbar {
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbarLink {
  color: #fff;
  text-decoration: none;
}
